@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {

    --primary-color: #73C2FB
  }
  
  
  
  
  
  
  
  
 
  
  
  
  
    




* {
  margin: px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;
  
  padding: 30px;
  background: var(--primary-color);
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("./images/cd.jpg");
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s ease;
  
}

img {
  width: 40%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 120%;
  max-width: 800px;
  border-radius: 20px;
  overflow: hidden;
}

.sidebar {
  width: 100%;
  padding: 20px;
  background: rgba(221, 179, 255, 0.815);
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 20px;
  position: relative;
}

.search input {
  width: 290px;
  height: 40px;
  border: 1px solid #3013c0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0 15px;
  font-size: 14px;
  color: #495057;
  position: relative;
 
 
}

.search input:focus {
  outline: none;
  border: 1px solid var(--primary-color);
  
}

.search button {
  min-width: 50px;
  height: 40px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: var(--primary-color);
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  right: 50px;
  
}

.search ul {
  max-height: 300px;
  overflow-y: auto;
  position: absolute;
  width: 150px;
  top: 40px;
  border-radius: 5px;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #dfd04a;
}

.search ul li {
  padding: 10px 15px;
  border-bottom: 1px solid #ffffff;
  cursor: pointer;
  text-transform: capitalize;
}

.search ul li:last-child {
  border-bottom: none;
}

.search ul li:hover {
  background-color: #f1f1f1;
}

.search ul li.active {
  background-color: #fcf8f8;
}

.weather-icon {
  width: 100%;
  height: 100px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 100px;

}

.weather-icon #icon {
  width: 80%;
  object-fit: cover;
}

.temperature {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temperature #temp {
  font-size: 70px;
  font-weight: 100;
  line-height: 1;
}

.temperature span {
  font-size: 40px;
  margin-top: -10px;
  display: block;
}

.divider {
  width: 100%;
  height: 1px;
  background: #e9ecef;
  margin: 20px 0;
}

.condition-rain {
  font-size: 19px;
  text-transform: capitalize;
  color: #00eeff;
}

.condition-rain div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  
}


.condition-rain div i {
  width: 20px;
  
}


.location {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  gap: 10px;
  margin-top: 10px;
}

.main {
  width: 100%;
  padding: 20px 40px;
  background-color: #12c095;
  position: relative;
  padding-bottom: 8% ;
}

.main nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main nav .options {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.main nav .options button {
  border: none;
  background: none;
  font-size: 16px;
  font-weight: 600;
  color: #495057;
  cursor: pointer;
  text-transform: capitalize;
}

.main nav .options button.active {
  color: yellow
}

.main nav .units button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #1a1a1a;
  background-color: #fff;
}

.main nav .units button.active {
  color: #fff;
  background-color: #1a1a1a;
}

.main .cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}

.cards .card {
  width: 50%;
  height: 130px;
  border-radius: 20px;
  color: #1a1a1a;
  background-color: #d4f4f5;
  text-align: center;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  left: 90px;
  
}
.card h2 {
  font-size: 15px;
  font-weight: 600;
  position: relative;
  bottom: 20px;
}

.card .card-icon {
  width: 80%;
  margin: 0 auto;
  position: relative;
  bottom: 20px;
}

.card .day-temp {
  font-size: 12px;
  display: flex;
  justify-content: center;
  display: flex;
  position: relative;
  bottom: 20px;
}

.highlights {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
  color: red;
}

.highlights .heading {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  position: relative;
  bottom: 50px;
  right: 30px;
  
}

.card2 {
  width: 50%;
  height: 130px;
  border-radius: 20px;
  color: #0c2ec5;
  background-color: #fff;
  
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 110px;
}

.card2 .card-heading {
  color: #c2c2c2;
  font-size: 10px;
}

.card2 .content {
  margin-top: 20px;
  position: relative;
  top: 50px;
  left: 20px;
  
  
}

.card2 .content p:first-child {
  text-align: center;
  font-size: 25px;
  position: relative;
  bottom: 100px;
  right: 10px;
}

.card2 .content p:nth-child(2) {
  font-size: 12px;
 position: relative;
 left: -20px;
 bottom: 125px;
  color: rgb(225, 0, 255);
  
}

.credits{
  text-align: center;
  font-size: 10px;
  color: #d015ff;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(950%);
  top: -1790px;
  
    writing-mode: vertical-rl;
  
  
    
  
  
}


  
  
  
  

.Text{
  text-align: center;
  font-size: 20px;
  color: #f10888;
  position: relative;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  top: -120px;
  
}

  
